name: GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          user: alfen-yu
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, languages
          plugin_languages: yes
          plugin_languages_limit: 12
          plugin_languages_indepth: yes
          plugin_languages_details: percentage, bytes-size
          plugin_traffic: yes
          plugin_followup: yes
          plugin_stargazers: yes

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add github-metrics.svg
          git commit -m "Update GitHub Metrics" || exit 0
          git push
